extends layout

block content
	.homeback
		.row
			.col-md-12.text-center
				h1.homebrand Sofia
	.homebot
		.arrow
		.row
			.col-md-12.text-center
				p.homeblurb The best answers to every question a senior has, on-demand from trained social workers
				a(href='/dashboard')
					button.btn.btn-default.homebutton Get started