extends layout

block content
	.navbar.navbar-default(role='navigation')
		.container-fluid
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') Sofia
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href='/dashboard')
							span.glyphicon.glyphicon-th-list
							span Dashboard
					li.active
						a(href='/lookup') 
							span.glyphicon.glyphicon-search
							span Lookup
					li
						a(href='/account')
							span.glyphicon.glyphicon-user
							span Account
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/signout') Sign Out
	.lookup
		.header Lookup
		form.form-inline.searchform(method='post', action='lookup')
			.form-group
				label.sr-only(for='search') Search
				.input-group
					input(type='text', id='search', name='search').form-control
			button(type='submit').btn.btn-default Search
