body {
	font-family: 'Lato';
}

.homebrand {
	margin-top: 150px;
	font-family: 'Sofia';
	font-weight: bold;
	color: #fff;
	font-size: 200px;
	text-shadow: 0px 1px 1px #000;
}

.homeback {
	height: 400px;
	background-color: #B23AEE;
}

.homeblurb {
	margin: auto;
	width: 80%;
	margin-top: 10px;
	font-size: 40px;
}

.homebutton {
	margin-top: 50px;
	font-size: 30px;
	height: 60px;
	width: 200px;
	background-color: #bf32dd;
	color: #fff;
}

.arrow {
	width: 0; 
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #B23AEE;
	margin: auto;
}

.content {
	padding: 0px 20px;
}

.navbar {
	margin-bottom: 10px;
}

.navbar .glyphicon {
	margin-right: 5px;
}

.dropdown-menu .glyphicon {
	margin-right: 5px;
}

.navbar-default .navbar-brand {
	font-family: 'Sofia';
	font-weight: bold;
	color: #B23AEE;
	font-size: 30px;
	text-shadow: 0px 1px 1px #BDA0CB;
}

.navbar-default .navbar-brand:hover {
	color: #B23AEE;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	background-color: #9A32CD;
	border-color: #BF3EFF;
}

.sectionheader {
	font-weight: bold;
	font-size: 13px;
	color: #B23AEE;
	margin: 5px 0px 5px 0px;
}

.reply {
	padding: 0px 30px 20px 30px;
}

.date {
	font-size: 12px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.senderinfo {
	max-height: 100px;
}

.senderinfo img {
	max-height: 80px;
}

#open .panelgroup, #closed .panelgroup, #new .panelgroup {
	cursor: pointer;
}

.panelgroup .glyphicon-chevron-down, .panelgroup .glyphicon-chevron-left {
	color: #999999;
	margin-left: 5px;
	font-size: 12px;
}

.tasktitle {
	max-height: 17px;
	overflow: hidden;
}

.tasksummary {
	max-height: 36px;
	overflow: hidden;
}

.Hidden {
	display: none;
}

.lookup {
	margin: 50px 100px 0px 100px;
}
.searchform .form-group {
	width: 70%;
}
.searchform .input-group {
	width: 99%;
}

.header {
	font-weight: bold;
	font-size: 15px;
	color: #B23AEE;
	margin: 5px 0px 5px 0px;
}

.large-header {
	font-weight: bold;
	font-size: 40px;
	color: #B23AEE;
	margin: 5px 0px 5px 0px;
}

.margin-top-20 {
	margin-top: 20px;
}

@font-face {
	font-family: 'Sofia';
	src: url('../fonts/Champagne & Limousines.ttf');
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf');
}